[submodule "Specs/Testigo"]
	path = Specs/Testigo
	url = https://github.com/keeto/testigo.git
[submodule "Specs/MooTools-Core"]
	path = Specs/MooTools-Core
	url = https://github.com/mootools/mootools-core.git
[submodule "Specs/MooTools-More"]
	path = Specs/MooTools-More
	url = https://github.com/mootools/mootools-more.git
[submodule "Source/Company"]
	path = Source/libs/Company
	url = https://github.com/keeto/company.git
[submodule "Build/link.js"]
	path = Build/link.js
	url = https://github.com/calyptus/link.js
[submodule "Source/libs/mootools-class-extras"]
	path = Source/libs/mootools-class-extras
	url = https://github.com/cpojer/mootools-class-extras.git
